.container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.leftContainer{
    flex: 4 3 50em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}
.rightContainer{
    flex: 2 3 30em;
}