<!DOCTYPE html>
<html lang="en" xmlns:mvc="http://www.springframework.org/schema/mvc">
<head>
    <meta charset="UTF-8">
    <title>Voting</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="/js/script.js"></script>
</head>
<body>
<div class="header">
    <h3>Приложение Голосовалка</h3>
</div>
<div class="mainContainer">
    <div class="leftContainer">
        <h4><span class="badge badge-secondary">Создание темы голосования</span></h4>
        <div class="input-group">
            <div class="input-group-prepend">
                <span class="input-group-text">Текст темы голосования</span>
            </div>
            <textarea class="form-control" aria-label="With textarea" id="subjectText"></textarea>
        </div>
        <button type="button" class="btn btn-outline-primary btn-lg btn-block" id="addAnswerText">Добавить вариант ответа</button>
       <div id="answerChoice">

       </div>
        <button type="button" class="btn btn-outline-success btn-lg btn-block" id="saveSubjectText">Сахранить тему голосования</button>
    </div>

    <div class="rightContainer">
        <div class="list-group">
            <h4><span class="badge badge-secondary">Созданные голосования</span></h4>
            <a href="#" class="list-group-item list-group-item-action list-group-item-info">s a info list group
                item</a>
            <a href="#" class="list-group-item list-group-item-action list-group-item-light">This is a light list group
                item</a>
            <a href="#" class="list-group-item list-group-item-action list-group-item-dark">This isdark list group
                item</a>
        </div>
    </div>

</div>
</body>
</html>